# FRMP Project

Words, words, words.

In [8]:
# Import local function for importing data
from load import load_subjects

## Settings

In [9]:
# Set data path
data_path = '/Users/exp/Desktop/MilanData/FR1'

In [4]:
# Define list of subjects
subjs = ['R1556J','R1555J','R1510Z','R1559Z','R1554J','R1558Z','R1511Z','R1557J','R1553J']

# Define list of sessions
sessions = [0, 1]

## Data Loading

In [10]:
# Load data
df = load_subjects(subjs, sessions, data_path)
print('Data loaded!')

Done!

## Check Dataframe

In [21]:
# Check out the dataframe - print first 5 rows with 'head'
df.head(5)

,condition,exp_group,intrus_per_trial,item_name,recalled,recorder,serialpos,session,subject,trial,type
0,FR,Young adults,0,BEAK,1,1,1,0,R1556J,1,WORD
1,FR,Young adults,0,SNACK,1,2,2,0,R1556J,1,WORD
2,FR,Young adults,0,EEL,1,3,3,0,R1556J,1,WORD
3,FR,Young adults,0,LEAF,1,4,4,0,R1556J,1,WORD
4,FR,Young adults,0,BEEF,1,5,5,0,R1556J,1,WORD

In [22]:
# Check out the dataframe - print last 5 rows with 'tail'
df.tail(5)

,condition,exp_group,intrus_per_trial,item_name,recalled,recorder,serialpos,session,subject,trial,type
2455,FR_MP,Young adults,1,ARK,0,0,8,1,R1553J,12,WORD
2456,FR_MP,Young adults,1,MUD,0,0,9,1,R1553J,12,WORD
2457,FR_MP,Young adults,1,DIME,1,1,10,1,R1553J,12,WORD
2458,FR_MP,Young adults,1,BAG,1,2,11,1,R1553J,12,WORD
2459,FR_MP,Young adults,1,PLATE,0,0,12,1,R1553J,12,WORD

In [48]:
# Check how many rows and columns are in the dataframe, from it's shape
n_rows, n_cols = df.shape
print('Number of rows:\t\t', n_rows)
print('Number of columns:\t', n_cols)

Number of rows:		 2460
Number of columns:	 11

In [49]:
# Check the columns
df.columns

Index(['condition', 'exp_group', 'intrus_per_trial', 'item_name', 'recalled',
       'recorder', 'serialpos', 'session', 'subject', 'trial', 'type'],
      dtype='object')

## Explore Columns

In [34]:
# Check the unique elements in `condition` using a set
set(df.condition)

{'FR', 'FR_MP'}

In [37]:
# Check the counts for each condition
df.condition.value_counts()

FR       1284
FR_MP    1176
Name: condition, dtype: int64

## Do Analyses!

...